@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 17px;
  overflow-x: hidden;
  font-family: Serif;
}

body {
  margin: 0 auto;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  width: min(500px, 98%);
  background-color: #222;
}
main {
  height: 90vh;
}

/*giving different colors for different numbers*/
.x1 {
  color: lightseagreen;
}

.x2 {
  color: lime;
}

.x3 {
  color: red;
}

.x4 {
  color: aqua;
}

.x5 {
  color: fuchsia;
}

.x6 {
  color: yellow;
}

.x7 {
  color: orange;
}

.x8 {
  color: lightslategray;
}
